.bot-details {
  margin: 10rem;
  padding: 25px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
}
.bot-details button {
  font-size: 1.1rem;
}
.thermometer {
  background-color: white;
  color: #43b3a3;
  margin: 8px 10px;
}
.moderate-risk-container {
  background-color: #43b3a3;
  display: inline-flex;
  background-color: white;
}
.moderate-risk-container h5 {
  background-color: #43b3a3;
  color: white;
  padding: 15px;
  align-self: center;
}
.moderate-risk-container + div {
  display: inline-block;
  margin-left: 10px;
}
.moderate-risk-container + div > button {
  height: 44px;
}
.details-btn-container {
  display: flex;
  align-items: center;
}
.details-btn-container .cart-btn-container {
  font-size: 1.5rem;
  width: 130px;
}
.details-btn-container .cart-btn-container button {
  max-height: 44px;
  height: 44px;
  width: 44px;
  font-size: 2rem;
}
.details-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  width: 50%;
}
.details-text-container h4 {
  font-size: 1.5rem;
}
.bot-details > *:not(:first-child) {
  align-self: center;
}
.bot-details > div:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bot-details > div:nth-of-type(3) p {
  color: rgb(20, 255, 20);
}
