.bot-details {
  margin: 10rem;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
}
.bot-details button {
  font-size: 1.1rem;
}
.thermometer {
  color: #43b3a3;
  margin: auto 10px;
}
.moderate-risk-container {
  background-color: #43b3a3;
  display: inline-flex;
  background-color: white;
}
.moderate-risk-container h5 {
  background-color: #43b3a3;
  color: white;
  padding: 15px;
}
.moderate-risk-container + div {
  display: inline-block;
  margin-left: 10px;
}
.moderate-risk-container + div > button {
  height: 44px;
}
.details-btn-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.details-btn-container .cart-btn-container {
  font-size: 1.5rem;
  width: 130px;
}
.details-btn-container .cart-btn-container div {
  margin: 3px;
}
.details-btn-container .cart-btn-container button {
  height: 44px;
  width: 44px;
  font-size: 2rem;
}
.details-text-container {
  word-wrap: break-word;
  width: 50%;
}
.details-text-container h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.bot-details > *:not(:first-child) {
  align-self: center;
}
.bot-details > div:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bot-details > div:nth-of-type(3) p {
  color: rgb(20, 255, 20);
}
@media (max-width: 900px) {
  .bot-details {
    flex-direction: column;
  }
  .details-text-container {
    width: 100%;
    text-align: center;
  }
  .details-text-container h4 {
    margin: auto;
    margin-bottom: 10px;
  }
  .details-btn-container {
    flex-direction: column;
    gap: 10px;
  }
  .bot-details > *:not(:first-child) {
    margin: 10px;
  }
}
@media (max-width: 426px) {
  .bot-details {
    margin: 10px 20px !important;
  }
}
