nav {
  display: flex;
  justify-content: left;
  padding-bottom: 0;
  border-bottom: 2px solid lightgray;
  z-index: 0;
  padding: 0 10rem;
}
nav h1 {
  font-weight: 400;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  margin-bottom: -2px;
  z-index: 1;
  font-size: 2rem;
}
nav h2 {
  font-weight: 500;
  align-self: end;
  margin: 0 0 5px 15px;
}
nav button {
  width: 60px;
  height: 50px;
  background-color: blue;
  color: white;
}

nav a {
  margin-left: auto;
  align-self: center;
}

nav button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
