.card {
  margin: 1.5rem 10rem;
  padding: 25px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.findata-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.findata-container > * {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.findata-container div:nth-child(2) {
  color: rgb(20, 255, 20);
}
.card .btn-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  gap: 8px;
}
